# Node.js
node_modules/

# Build outputs
build/
dist/
*.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings
.vscode/

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# Mac system files
.DS_Store

# Debug and Test files
coverage/
*.tgz
*.tmp
*.swp

# Environment Files
.env
.env.local
.env.development
.env.test
.env.production
